<!-- LOGIN PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIC REC - Home</title>

    <link rel="stylesheet" href="../../static/css/researcher/download_certification.css">
</head>

<!-- home section start -->
{% load static %}
<body>
  <header>
      <div class="header">
        <nav class="navbar">
          <a href="{% url 'home' %}" class="menus">Home</a>
          <a href="{% url 'aboutUs' %}" class="menus">About</a>
          <a href="{% url 'contactUs' %}" class="menus" id="cntctUs">Contact<span>Us</span></a>
      </nav>
          <div class="icons">
              <a href="{% url 'icon' %}">
                <img src="../static/images/user-icon.png" alt="" id="icons">
            </a>
          </div>
      </div>
  </header>
  <div class="container">
    <ul>
      <li><a href="{% url 'basic-requirements' %}"><span>1</span> Basic Requirements</a></li>
      <li><a href="{% url 'rec-requirements' %}"><span>2</span> REC Requirements</a></li> 
      <li><a href="{% url 'payment' %}"><span>3</span> Payment</a></li>
      <li><a href="{% url 'feedback' %}"><span>4</span> Feedback</a></li>
      <li><a href="#" class="active"><span>5</span> Ethics Compliance Certificate</a></li>
  </div>
  <div class="cert_container">
    <div class="message">
        <h1>Congratulations!</h1>
        <h3>We are gladly announce that your study have successfully passed the rigorous ethics review.</h3><br>
        <h6>Best Regards, <br>REC Team</h6>
    </div>
    <p style="font-weight:bold; text-align:center">A REC staff will email you your Ethics Compliance Certificate. 
      <br>Thank You, and Congratulations.</p>
  </div>
</body>
</html>