<!-- LOGIN PAGE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UIC REC - Home</title>

    <link rel="stylesheet" href="../../static/css/researcher/submit_feedback.css">
</head>

<!-- home section start -->
{% load static %}
<body>
  <header>
      <div class="header">
          <nav class="navbar">
              <a href="{% url 'home' %}" class="menus">Home</a>
              <a href="" class="menus">About</a>
              <a href="" class="menus" id="cntctUs">Contact<span>Us</span></a>
          </nav>
          <div class="icons">
              <img src="../static/images/notification-icon.png" alt="" id="icons">
              <img src="../static/images/user-icon.png" alt="" id="icons">
          </div>
      </div>
  </header>
  <div class="container">
    <ul>
      <li><a href="{% url 'basic-requirements' %}"><span>1</span> Basic Requirements</a></li>
      <li><a href="{% url 'rec-requirements' %}"><span>2</span> REC Requirements</a></li> 
      <li><a href="{% url 'payment' %}"><span>3</span> Payment</a></li>
      <li><a href="#" class="active"><span>4</span> Feedback</a></li>
      <li><a href="{% url 'certification' %}"><span>5</span> Ethics Compliance Certificate</a></li>
  </div>
  <div class="form_container">
  {% include 'RECSystem/includes/message.html' %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="form_section">
            <div class="upload_container">
                <p id="forms">Feedback</p>
                <div class="input_box">
                    <label for="protocol_code">Revision No. </label>
                    <input type="number" id="input_text" required>
                  </div>
                <div class="file_box_upload">
                  <label for="revised_manuscript">Upload Revised Manuscript<br></label>
                  <input type="file" name="revised_manuscript" id="input_file">
                </div>
                <div class="button">
                  <button class="submit" type="submit">Submit for review</button>
                </div>
              </div>
        </div>
    </form>
  </div>
</body>
</html>