*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}
body{
  min-height: 110vh;
  align-items: center;
  justify-content: center;
  background: url("/static/images/uic-background.jpg") fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-info{
  display: flex;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.card{
  background: whitesmoke;
  padding: 0 20px;
  margin: 0 10px;
  width: calc(33% - 20px);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  cursor: pointer;
  border: 1px solid lightslategray;
  border-radius: 6px;

}

.card-icon{
  font-size: 28px;
  background: #FF74B1;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 60px !important;
  border-radius: 50%;
  transition: 0.3s linear;
}

.card:hover .card-icon{
  background: none;
  color: #FF74B1;
  transform: scale(1.6);
}

.card p{
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
  max-height: 0;
  opacity: 0;
  transition: 0.3s linear;
  color: black;
  font-weight: bold;
  text-align: center;
}

.card:hover p{
  max-height: 40px;
  opacity: 1;
}


@media screen and (max-width:800px) {
  .contact-info{
    flex-direction: column;
  }
  .card{
    width: 100%;
    max-width: 300px;
    margin: 10px 0;
  }
}
.header{
  background-color:#CD104D;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  height: 90px;
}
.header #icons{
  height: 50px;
  justify-content: space-between 100px;
}
.header .menus{
  color: whitesmoke;
  text-decoration-line: none;
  font-weight: bolder;
  word-spacing: 40px;
}
.header .menus:hover{
  color: black;
  text-decoration-line: none;
  font-weight: bolder;
  word-spacing: 40px;
}
.header .navbar a {
  font-size: 22px;
  margin-left: 2rem;
}
#cntctUs span{
  margin-left: 10px;
}