<!DOCTYPE html>
<!-- Created By jpornillos source  -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>UIC REC - Sign Up</title>
      <link rel="stylesheet" href="../static/css/createAcc.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="wrapper">
         {% include 'RECSystem/includes/message.html' %}
         <div class="title-text">
            <div class="title signup-researcher">Researcher Signup Form</div>
            <div class="title signup-rec">Research Ethics Committee Signup Form</div>
         </div>
         <div class="form-container">
            <div class="slide-controls" method="POST">
               <input type="radio" name="slide" id="signup-researcher" checked>
               <input type="radio" name="slide" id="signup-rec">
               <label for="signup-researcher" class="slide signup-researcher">Researcher</label>
               <label for="signup-rec" class="slide signup-rec">REC</label>
               <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
               <form action="#" class="signup-researcher" method="POST" name="signup_researcher">
                  {% csrf_token %}

                  <!-- To know what form name is in method=POST -->
                  <input type="hidden" name="name" value="signup_researcher">
                  <input type="hidden" name="post_id" value="{{post.id}}">
                     {{signup_researcher.as_p}}
                  <!-- end -->

                  <div class="field">
                     <input type="text" placeholder="Username" name="username" required>
                  </div>
                  <div class="field">
                     <input type="email" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="School" name="school" required>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Year Level" name="level" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password"  name="new_pass" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirm password" name="confirm_pass" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
               </form>
               <form action="#" class="signup-rec" method="POST" name="signup_rec">
                  {% csrf_token %}
                  
                  <!-- To know what form name is in method=POST -->
                  <input type="hidden" name="name" value="signup_rec">
                  <input type="hidden" name="post_id" value="{{post.id}}">
                     {{signup_rec.as_p}}
                  <!-- end  -->

                  <div class="field">
                     <input type="text" placeholder="Username" name="username" required>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="First Name"  name="firstname" required>
                  </div>
                  <div class="field">
                     <input type="text" placeholder="Last Name"  name="lastname" required>
                  </div>
                  <div class="field">
                     <input type="email" placeholder="Email Address" name="email" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Password"  name="new_pass" required>
                  </div>
                  <div class="field">
                     <input type="password" placeholder="Confirm password" name="confirm_pass" required>
                  </div>
                  <div class="field btn">
                     <div class="btn-layer"></div>
                     <input type="submit" value="Signup">
                  </div>
               </form>
            </div>
         </div>
         <div class="loginBtn">
            <a href="{% url 'login' %}" class="login">&laquo; Login</a>
         </div>
      </div>
      <script>
         const researcherText = document.querySelector(".title-text .signup-researcher");
         const researcherForm = document.querySelector("form.signup-researcher");
         const researcherBtn = document.querySelector("label.signup-researcher");
         const recBtn = document.querySelector("label.signup-rec");
         const recLink = document.querySelector("form .signup-link a");
         recBtn.onclick = (()=>{
               researcherForm.style.marginLeft = "-50%";
               researcherText.style.marginLeft = "-50%";
         });
         researcherBtn.onclick = (()=>{
               researcherForm.style.marginLeft = "0%";
               researcherText.style.marginLeft = "0%";
         });
         recLink.onclick = (()=>{
               recBtn.click();
            return false;
         });
     </script>
   </body>
</html>